.height-small {
  height: 25%;
}

.height-medium {
  height: 50%;
}

.height-large {
  height: 100%;
}

.width-small {
  width: 25%;
}

.width-medium {
  width: 50%;
}

.width-large {
  width: 100%;
}
