.footer {
  background-color: $color-white;
  border: $border;
  transition: all 0.2s ease-in-out;
  grid-column: span 9;
  grid-row: span 1;

  &__text-box {
    text-align: center;
  }

  &:hover {
    background-color: $color-black;
    color: $color-white;
  }
}
