.btn {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  transition: all 0.2s;
  font-size: $default-font-size;
  color: $color-black;
  border: $border;
  background-color: $color-white;
  cursor: pointer;

  &:hover {
    // transform: translateY(-0.3rem);
    background-color: $color-black;
    color: $color-white;
  }
}
